@use '../../../../node_modules/@valdelaseras/pedestal/scss/index.scss' as pedestal;

c-form,
.form-section {
    display: flex;
    flex-direction: column;
}

c-form {
    gap: 40px;
}

.form-section {
    gap: 30px;
    padding-right: pedestal.$padding;
    padding-left: pedestal.$padding;
}

.form-header,
.form-footer {
    padding: pedestal.$padding;
}

input,
textarea {
    width: 100%;
    padding: 10px;
}

.form-question > label,
small.helper-text {
    display: block;
}

.form-question > label {
    padding: 10px 0;
    font-weight: bold;
}

small.helper-text {
    padding-top: 10px;
}


