@use '../../../../node_modules/@valdelaseras/pedestal/scss/index.scss' as pedestal;

.c-form,
.form-section,
.form-question {
    display: flex;
    flex-direction: column;
}

.c-form {
    gap: 40px;
}

.form-section {
    gap: 30px;
}

.form-question {
    gap: 15px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
}

label, legend {
    font-weight: bold;
}

legend {
    margin: 15px 0;
}


.row c-select select {
    width: auto;
}

.row c-input {
    width: 100%;
}








